.taskIsEmpety{
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-top: 1px solid var(--gray-300);
  border-radius: 8px;
  max-width: 50.25rem;
  text-align: center;
}
.taskIsEmpety h1{
  font-size: 16px;
  color: var(--gray-300);
  font-weight: normal;
  line-height: 140%;
}

.taskIsEmpety img{
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}